@import "tailwindcss";


@theme inline {
  --font-fredoka: var(--font-fredoka);
  --font-poppins: var(--font-poppins);
}

body {
  background-color: black;
}

@keyframes float {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(15px);
  }
}

@utility animate-float {
  animation: float 2.5s ease-in-out infinite;
}

@utility animate-float-delayed {
  animation: float 3s ease-in-out infinite;
  animation-delay: 1s;
}

@utility animate-float-slow {
  animation: float 3.5s ease-in-out infinite;
  animation-delay: 0.5s;
}